extends layout

block content
  h5.text-center Contact US
  .d-flex.flex-column
    div
      span.iconify(data-icon="codicon:call-outgoing" data-inline="false") 
      |  097028 89702
    div
      span.iconify(data-icon="la:facebook-messenger" data-inline="false")
      |  m.me/lakshfoundation0411
    div
      span.iconify(data-icon="carbon:email" data-inline="false")
      a.ms-2(href='mailto:lakshfoundation0411@gmail.com' title='Email' target='_blank') lakshfoundation0411@gmail.com


