extends layout

block content
  h5.text-center Contact US
  .d-flex.flex-column
    div
      span.iconify(data-icon="codicon:call-outgoing" data-inline="false" style="color: #1A58C7;" data-width="20px" data-height="20px")
      a.ms-2(href='tel:+919702889702' title='Email' target='_blank') +91 97028 89702
    div
      span.iconify(data-icon="la:facebook-messenger" data-inline="false" style="color: #1A58C7;" data-width="20px" data-height="20px")
      a.ms-2(href='https://m.me/lakshfoundation0411' title='Email' target='_blank') m.me/lakshfoundation0411
    div
      span.iconify(data-icon="carbon:email" data-inline="false" style="color: #1A58C7;" data-width="20px" data-height="20px")
      a.ms-2(href='mailto:lakshfoundation0411@gmail.com' title='Email' target='_blank') lakshfoundation0411@gmail.com


